<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.lee.repast.mapper.ProductAttributeCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.lee.repast.model.ProductAttributeCategory" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="attribute_count" property="attributeCount" jdbcType="INTEGER" />
    <result column="param_count" property="paramCount" jdbcType="INTEGER" />
  </resultMap>
</mapper>